.header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-bottom: rgb(216, 215, 215);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  box-shadow: 1px 1px 2px rgba(0 0, 0, 0.15);
  z-index: 100;
  cursor: pointer;
}
.left-section {
  display: flex;
  align-items: center;
}
.hamburger {
  height: 24px;
  margin-left: 24px;
  margin-right: 20px;
}
.youtube-logo {
  height: 20px;
}
.middle-section {
  display: flex;

  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  align-items: center;
}
.search-bar {
  height: 36px;
  padding-left: 15px;
  flex: 1;
  font-size: 16px;
  border: rgb(200, 198, 198);
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0 0, 0, 0.15);
  width: 0;
}
.search-bar::placeholder {
  font-family: Roboto, Arial;
  font-size: 16px;
}
.search-button {
  height: 40px;
  width: 66px;
  border: rgb(210, 210, 210);
  border-style: solid;
  border-width: 1px;

  box-shadow: inset 1px 2px 2px rgba(0 0, 0, 0.15);
  background-color: rgb(240, 240, 240);
  margin-left: -1px;
  margin-right: 10px;
  position: relative;
}
.search-button,
.voice-button,
.upload-icon-container,
.youtube-apps-icon-container,
.notifications-icon-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-button .tooltip,
.voice-button .tooltip,
.upload-icon-container .tooltip,
.youtube-apps-icon-container .tooltip,
.notifications-icon-container .tooltip {
  background-color: rgb(117, 117, 117);
  color: white;
  border: none;
  border-radius: 2px;
  bottom: -30px;
  position: absolute;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}
.search-button:hover .tooltip,
.voice-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-apps-icon-container:hover .tooltip,
.notifications-icon-container:hover .tooltip {
  opacity: 1;
}

.search-icon {
  height: 25px;
}

.voice-button {
  border-radius: 20px;

  height: 40px;
  width: 40px;
  padding-left: 5px;
  padding-right: 5px;
  border: none;
  background-color: rgb(245, 240, 240);
}
.voice-search-icon {
  height: 24px;
}

.right-section {
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  flex-shrink: 0;
}
.upload-icon {
  height: 26px;
}
.youtube-apps-icon {
  height: 26px;
}
.notifications-icon {
  height: 26px;
}
.notifications-icon-container {
  position: relative;
}
.notifications-count {
  position: absolute;
  font-family: Roboto, Arial;
  font-weight: 500;
  top: -0px;
  right: -2px;

  font-size: 10px;
  background-color: rgb(200, 0, 0);
  color: white;
  border-radius: 10px;
  border: none;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.mychannel-icon {
  height: 32px;
  border-radius: 16px;
}
